@use "../../foundation/mixins" as min;

.breadcrumbs span[property="name"] {
    
    display: inline-block;
    padding: 0;
    margin-top: -3px;
    vertical-align: middle;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: normal normal 500 12px/20px 'YuGothic';
    vertical-align: baseline;

    @include min.breakpoint(tablet) {
        max-width: 500px;
    }

    &:not(.current-item) {
        text-decoration: underline;
        vertical-align: baseline;
    }
}

.breadcrumbs {

    font: normal normal 500 12px/20px 'YuGothic';
    vertical-align: baseline;

    .delimiter {
        vertical-align: top;
    }
}
